.container {
    background: black;
    color:white;
}

.name {
    color:white;
}

.language {
    color:white;
}

.namelist-container {
    display: flex;
    flex-direction: row;
    gap: 12px;
}


.name-circle {
    display: flex;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }